@charset "UTF-8";

/* 2024.03.리뉴얼 퍼블리싱 */

/* **************************************** *
 * LAYOUT
 * **************************************** */
body{overflow-x: hidden; -webkit-text-size-adjust: 100%; box-sizing: border-box;}

/* **************************************** *
 * TYPOGRAPHY
 * **************************************** */

/* Noto Sans CJK KR */
@font-face {
font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 300;
src: url("styles/fonts/NotoSansKR-Light.woff2") format('woff2'),
url("styles/fonts/NotoSansKR-Light.woff") format('woff'),
url("styles/fonts/NotoSansKR-Light.otf") format('truetype')
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    src: url("styles/fonts/NotoSansKR-Regular.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Regular.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Regular.otf") format('truetype')
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 500;
    src: url("styles/fonts/NotoSansKR-Medium.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Medium.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: bold;
    src: url("styles/fonts/NotoSansKR-Bold.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Bold.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Bold.otf") format('truetype')
}
body{font-family: 'Noto Sans CJK KR'; letter-spacing: -0.05em; font-weight:400; color:var(--main-text-color);}


/* **************************************** *
 * COMMON
 * **************************************** */
*{box-sizing: border-box;}
:root{
    --primary-color:#469da0;
    --sub-color:#43538a;
    --main-text-color:#333;
    --sub-text-color:#777;
}
/***** SKIP BUTTON *****/
.skip-re24 a{position: absolute; top:-50px; left:0; width:100%;  background-color:var(--sub-color); padding:5px 0; font-size:15px; text-align:center; color:#fff; z-index:100;}
.skip-re24 a:focus{top:0;}
/***** TOP POPUP *****/
.top-notice-popup{display:flex; width:100%; height:40px; background-color:var(--primary-color);}
.top-notice-popup .top-notice-popup-inner{display:flex; position:relative; margin:0 auto; align-items:center; width:1280px; margin-right:auto;justify-content: center;}
.top-notice-popup .top-notice-popup-inner p{position: relative; left:38px; font-size:14px; color:#fff; font-weight:500;}
.top-notice-popup .top-notice-popup-inner p:before{content:''; position:absolute; left:-38px; width:20px; height:20px; background-image: url(../images/ico_notice_re.png); background-size: cover;}
.top-notice-popup .top-notice-popup-inner button{position: absolute; right:0; color:#fff; padding-right:20px; background-image: url(../images/ico_topband_close_re.png); background-repeat: no-repeat; background-size: 12px 12px; background-position: center right; font-family: 'Noto Sans CJK KR', sans-serif; font-weight: 300; letter-spacing: -0.05em; line-height:1;}
/***** MAIN HEADER *****/
.main-header-re24{width:100%;}
.nav-top-menu{width:100%; border-bottom:1px solid #cccccc;}
.nav-top-menu-inner{display:flex; width:1280px; height:48px; margin:0 auto; align-items: center; justify-content:space-between;}
.nav-top-menu-inner .inner-left{display:flex; align-items: center;}
.nav-top-menu .main-site{display:flex; align-items: center; height:26px; padding:0 8px; margin-right:15px; font-weight:500; font-size:14px; text-align: center; border-radius: 12px;border:1px solid #ddd; color:var(--main-text-color);}
.nav-top-menu .site-link .depth-1{display:flex;}
.nav-top-menu .site-link .depth-1 > li{position:relative;}
.nav-top-menu .site-link .depth-1 .depth1-title{font-size:14px; font-weight:400; color:var(--sub-text-color);}
.nav-top-menu .site-link .depth-1 > li + li{margin-left:26px;}
.nav-top-menu .site-link .depth-2-box{display:none;}
.nav-top-menu .site-link .depth-2{display:grid; width:370px; grid-template-columns: repeat(2, 50%); column-gap:10px; position:absolute; left:0; top:37px; background-color:#eeeeee; z-index:150; box-sizing:content-box; padding:20px 30px 23px; box-sizing:content-box; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc;}
.nav-top-menu .site-link .depth-2 li{display:inline-block; padding-bottom:7px;}
.nav-top-menu .site-link .depth-2 li a{display:inline-block; font-size:15px; color:var(--sub-text-color); line-height:1; white-space:nowrap;}
.nav-top-menu .site-link .depth-2.col-1{display:block; width:auto; padding:20px 30px 15px;}
.nav-top-menu .site-link .depth-2.col-1 li{width:100%;}
.nav-top-menu .site-link .depth-2 li a:focus,
.nav-top-menu .site-link .depth-2 li a:hover
{text-decoration: underline; text-underline-offset:3px;}


.nav-top-menu-inner .inner-right{display:flex; align-items: center;}
.nav-top-menu-inner .inner-right > div + div{margin-left:24px;}

.inner-right{display:flex; align-items: center;}
.lang-select{display:flex; position:relative; align-items: center;}
.lang-select .drop-btn{display:flex; align-items: center; position:relative; font-size:14px; color:var(--sub-text-color); font-weight:400; letter-spacing: -0.7px; line-height:1;}
.lang-select .drop-btn .icon{display:inline-block; margin-right:10px; width:19px; height:19px; background-image: url(../images/ico_language_re.png); background-size: cover;}
.lang-select .drop-menu{position:absolute; width:calc(100% + 14px); padding:4px 0; text-align: center; top:34px; left:0; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;}
.lang-select .drop-menu li a{font-size:14px; color:var(--sub-text-color); font-weight:400;}
.site-map{display:flex; align-items: center;}
.site-map .icon{margin-right:10px; width:19px; height:19px; background-image: url(../images/ico_sitemap_re.png); background-size: cover;}
.site-map a{display:block; padding-bottom:1.5px; font-size:14px; color:var(--sub-text-color); font-weight:400; line-height:1;}




.nav-main-menu{position:relative; width:100%; height:100px;}
.nav-main-menu .nav-main-border{border-bottom:1px solid #ccc;}
.nav-main-menu .nav-main-menu-inner{display:flex; width:1280px; height:100px; margin:0 auto; align-items:center; justify-content:space-between; }
.left-area{display:flex; align-items:center;}
.nav-main-menu h1 a{display:block; width:149px; height:56px; background-image: url(../images/img_main_logo.re.png); background-size: cover;}

.nav-main-menu .gnb .depth-1{display:flex;}

.nav-main-menu .gnb .depth-1 > li{width:112px; display:flex;}
.nav-main-menu .gnb .depth-1 > li:nth-child(1){margin-left:48px;}


.nav-main-menu .gnb .depth-1 .depth1-title{display:inline-block; width:100%; height:100px; font-size:20px; font-weight:500; line-height:100px; margin:0 auto; text-align:center;}
.nav-main-menu .gnb .depth-1 .depth1-title span{display:inline-block; height:100px; }
.nav-main-menu .gnb .depth-1 .depth1-title span.active{border-bottom:4px solid 
    #cf595b;}

.login_btn{font-size:20px; font-weight:500; margin-right:0; line-height:1;}


.nav-main-menu .gnb .drop-area{display:none; position:absolute; left:0; top:100px; width:100%; z-index:10; background-color: #fff; border-top:1px solid #ccc;}            
.nav-main-menu .gnb .drop-area .visual img{position:absolute; left:0; bottom:0;}
.nav-main-menu .gnb .drop-area .depth-2{display:grid; width:1280px; grid-template-columns: repeat(5, 20%); grid-row-gap:42px; margin:0 auto; padding:30px 0 42px;}
.nav-main-menu .gnb .drop-area .depth-2 > li .depth2-title{padding-left:28px; font-size:20px; font-weight:bold; border-left:1px solid #cccccc;}
.nav-main-menu .gnb .drop-area .depth-3{padding-left:28px; padding-top:12px; border-left:1px solid #cccccc;}
.nav-main-menu .gnb .drop-area .depth-3 > li > a{position:relative; font-size:15px; font-weight:400; color:var(--sub-text-color);}
.nav-main-menu .gnb .drop-area .depth-3 > li > a.blank:after{content:''; position:absolute; top:50%; right:-13px; width:9px; height:9px; background-image: url(../images/ico_blank.png); background-size: cover; transform: translateY(-50%);}




/* **************************************** *
 * MAIN
 * **************************************** */

 /* section-1 */
.section-1-re24{display:flex; width:1280px; margin:0 auto; align-items: center; justify-content:space-between;}
.scene-view-re24{display:flex; width:calc( (100% - 34px) / 2 ); padding:53px 0 70px; align-items: center; justify-content: space-between; background-color: yellow;}
.scene-view-re24 > div{position:relative; width:calc( 100% - 20px ); }
.scene-view-re24 > div + div{margin-left:20px;}
.scene-view-re24 strong{display:block; font-size:17px; margin-bottom:16px;}
.scene-view-re24 figure{display:block; position:relative; height:207px; border-radius:12px; overflow:hidden; object-fit:cover;}
.scene-view-re24 figure figcaption{display:flex; align-items: center; position:absolute; left:0; bottom:0; width:100%; height:35px; background-color: rgba(0,0,0,0.7); color:#fff; padding:0 11px; font-size:17px; font-weight:400; border-top:1px solid #ccc;}
.scene-view-re24 .image img{width:100%;}
.scene-view-re24 .more-btn{position:absolute; right:22px; top:3px; font-size:14px; color:var(--sub-text-color);}
.scene-view-re24 .more-btn:after{content:''; position:absolute; width:12px; height:12px; top:50%; right:-22px; transform:translateY(-50%); background-image: url(../images/ico_arrow_r_g_re.png); background-size: cover;}
.scene-view-re24 .video-empty{visibility: hidden;}
.scene-view-re24 .video:after{content:''; position:absolute; width:42px; height:42px; background-image: url(../images/ico_thumb_play.png); background-size: cover; top:50%; left:50%; transform:translate(-50%, -50%);}

.leader-area-re24{display:flex; width:calc( (100% - 34px) / 2 ); justify-content: space-between; padding:88.5px 0 70px;}
.line
.leader-area-re24 .text-area p{font-size:17px; margin-bottom:10px; color:var(--sub-text-color); white-space: nowrap;}
.leader-area-re24 .text-area .text-img{display:flex;}
.leader-area-re24 .text-area .text-img img{width:175px;}
.leader-area-re24 .text-area .line{display:block; width:155px; height:1px; background-color: var(--sub-color);}
.leader-area-re24 .text-area nav ul{display:flex; justify-content: space-between; align-items: center; width:342px; height:40px; padding:0 20px;}
.leader-area-re24 .text-area nav ul li{display:inline-block;}
.leader-area-re24 .text-area nav .type1{background-color: var(--sub-color); border-radius: 12px;}
.leader-area-re24 .text-area nav .type1 li a{display:flex; color:#fff; font-size:14px;}
.leader-area-re24 .text-area nav .type1 li a + a{border-left:2px solid #fff;}
.leader-area-re24 .text-area nav .type2{background-color:#fff; border:1px solid #ddd; border-radius: 12px;}

















/* 접근성테스트로 임시 (2024. 02. 28) */
:focus {
    outline: 1px dashed #777;
}













