@charset "UTF-8";


/* 2024.03.리뉴얼 퍼블리싱 */

/* **************************************** *
 * LAYOUT
 * **************************************** */
body.renewal-body{width: 100%; margin: 0 auto; overflow-x: hidden; -webkit-text-size-adjust: 100%; box-sizing: border-box;}

/* **************************************** *
 * TYPOGRAPHY
 * **************************************** */
@font-face {
font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 100;
src: url("styles/fonts/NotoSansKR-Light.woff2") format('woff2'),
url("styles/fonts/NotoSansKR-Light.woff") format('woff'),
url("styles/fonts/NotoSansKR-Light.otf") format('truetype')
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 300;
    src: url("styles/fonts/NotoSansKR-Regular.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Regular.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Regular.otf") format('truetype')
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    src: url("styles/fonts/NotoSansKR-Medium.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Medium.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: bold;
    src: url("styles/fonts/NotoSansKR-Bold.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Bold.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Bold.otf") format('truetype')
}
body.renewal-body{font-family:'Noto Sans CJK KR'; letter-spacing: -0.7px;}

/* **************************************** *
 * COMMON
 * **************************************** */
body.renewal-body{
    --primary-color:#469da0;
    --sub-color:#43538a;
    --main-text-color:#333;
    --sub-text-color:#777;
}
/***** SKIP BUTTON *****/
.skip-re a{position: absolute; top:-50px; left:0; width:100%;  background-color:var(--sub-color); padding:5px 0; font-size:15px; text-align:center; color:#fff; z-index:100;}
.skip-re a:focus{top:0;}
/***** TOP POPUP *****/
.top-notice-popup{display:flex; width:100%; height:40px; background-color:var(--primary-color); }
.top-notice-popup .top-notice-popup-inner{display:flex; position:relative; margin:0 auto; align-items:center; width:1280px; margin-right:auto;justify-content: center;}
.top-notice-popup .top-notice-popup-inner p{position: relative; left:38px; font-size:14px; color:#fff;}
.top-notice-popup .top-notice-popup-inner p:before{content:''; position:absolute; left:-38px; width:20px; height:20px; background-image: url(../images/ico_notice_re.png); background-size: cover;}
.top-notice-popup .top-notice-popup-inner button{position: absolute; right:0; color:#fff; padding-right:28px; background-image: url(../images/ico_topband_close_re.png); background-repeat: no-repeat; background-size: 12px 12px; background-position: center right;}
/***** MAIN HEADER *****/
.main-header-re24{width:100%;}
.nav-top-menu{width:100%; background-color:yellow;}
.nav-top-menu-inner{display:flex; width:1280px; height:48px; margin:0 auto; align-items: center; justify-content:space-between;}
.nav-top-menu-inner .inner-left{display:flex; align-items: center;}
.nav-top-menu .main-site{height:26px; padding:0 8px; margin-right:15px; font-size:14px; line-height:26px; text-align: center; border-radius: 12px;border:1px solid #ddd; color:var(--main-text-color);}
.nav-top-menu .site-link .depth-1{display:flex;}
.nav-top-menu .site-link .depth-1 li{position:relative;}
.nav-top-menu .site-link .depth-1 .depth1-title{font-size:14px; font-weight:300; color:var(--sub-text-color);}
/* .nav-top-menu .site-link .depth-1 > li{position:relative;} */
.nav-top-menu .site-link .depth-1 > li + li{margin-left:26px;}
.nav-top-menu .site-link .depth-2{display:grid; grid-template-columns: repeat(2, 50%); min-width:200px; position:absolute; left:0; top:35px; background-color:#eeeeee; padding:30px 30px 15px; z-index:100;}
.nav-top-menu .site-link .depth-2 li{height:100%; padding-bottom:15px;}
.nav-top-menu .site-link .depth-2 li:nth-child(odd){margin-right:40px;}
.nav-top-menu .site-link .depth-2 li a{display:block; width:100%; font-size:15px; font-weight:300; color:var(--sub-text-color); line-height:1; white-space : nowrap;}
.nav-top-menu .site-link .depth-2{display:none;}

.nav-top-menu .site-link .depth-2 li a:focus,
.nav-top-menu .site-link .depth-2 li a:hover
{text-decoration: underline; text-underline-offset:3px;}


.nav-top-menu-inner .inner-right{display:flex;}

/* 접근성테스트로 임시 (2024. 02. 28) */
:focus {
    border: 2px dashed #333;
    outline: none;
}













